<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Alura receitas</title>
</head>
<body>
    <h1>Alura receitas</h1>
    <h2>Seja bem vendo ao site</h2>

    <table>
        <thead>
            <tr>
                <td>Nome da receita</td>
                <td>Ingredientes</td>
                <td>Mode de preparo</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Suco verde</td>
                <td>Folhas verdes, 1 maçã, 1 cenoura</td>
                <td>Bata tudo no liquidificador</td>
            </tr>
        </tbody>
    </table>
</body>
</html>